body{
  background-color: #785A8D;
  margin: 0;
}

.topbar{
  height: 32px;
  background-color: #5C5A8D;
}

/* some css to format gameBoard if needed later
#mapContainer svg {
    display:block;
    margin:0 auto;
}
#mapContainer path {
  fill:#DDD;
  stroke:#FFF;
}
*/